* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: #84cf9a;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

header>img {
    display: flex;
    margin-left: 50px;
}

h2 {
    margin-top: 30px;
    text-align: center;
}

.detalhes {
    width: 70%;
    margin: 25px auto;
    padding: 1%;
    border: 1px solid;
    box-shadow: 21px 22px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.informacoes > p{
    color: #0D9035;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    text-align: start;
}

h3{
    font-size: 1.5rem
}

.valor {
    font-weight: lighter;
}
