* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    font-family: cursive;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        'header header header header header header'
        'navbar main main main main main'
}

a {
    text-decoration: none;
}
header {
    grid-area: header;
    background-color: #84cf9a;
    display: flex;
    padding: 30px 40px;
    border-bottom: 1px solid white;
}

.logo>img {
    height: 70px;
}

nav {
    grid-area: navbar;
    background-color: #84cf9a;
    height: 100%;
}

nav>.perfil {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
nav > .perfil > i {
    color: white;
    font-size: 45px;
    margin-right: 10px ;
}



nav>.hist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav > .hist > button {
    display: flex;
    background-color: transparent;
    border-color: transparent;
    width: 35%;
    align-items: center;
    color: white;
    font-family: normal, serif;
    font-size: medium;

    margin-right: 95px;
    margin-top: 20px;
}

.bi.bi-bag-fill{
    margin-right: 5px;
}

nav>.func {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav > .func > button {
    display: flex;
    background-color: transparent;
    border-color: transparent;
    width: 35%;
    align-items: center;
    color: white;
    font-family: normal, serif;
    font-size: medium;
    margin-right: 100px;
    margin-top: 20px;
}
.bi.bi-person-fill-check{
    margin-right: 5px;
}

nav>.estq {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav > .estq > button{
    display: flex;
    background-color: transparent;
    border-color: transparent;
    align-items: center;
    color: white;
    font-family: normal, serif;
    font-size: medium;
    width: 35%;
    margin-right: 98px;
    margin-top: 20px;
}
.bi.bi-list-ol{
    margin-right: 5px;
}

nav > .mov{
    width: 100%;
    display: flex;
    align-items: center;
}

nav > .mov > button{
    display: flex;
    background-color: transparent;
    border-color: transparent;
    align-items: center;
    color: white;
    font-family: normal, serif;
    font-size: medium;
    width: 50%;
    margin-left: 33px;
    margin-top: 20px;
}
.bi-arrows-move{
    margin-right: 5px;
}
nav>.exit {
    width: 100%;
    display: flex;
    margin-left: 30px;
    margin-top: 200px;
}

nav > .exit > button{
    display: flex;
    background-color: transparent;
    border-color: transparent;
    width: 40%;
    align-items: center;
    color: white;
    font-family: normal, serif;
    font-size: medium;
}

.bi.bi-box-arrow-left{
    margin-right: 5px;
}

nav>.add {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav > .add > button{
    display: flex;
    background-color: transparent;
    border-color: transparent;
    width: 50%;
    align-items: center;
    color: white;
    font-family: normal, serif;
    font-size: medium;
    margin-right: 65px;
    margin-top: 20px;
}
.bi.bi-plus-circle{
    margin-right: 5px;
}

button{
    display: flex;
    background-color: transparent;
    border-color: transparent;
}

main {
    grid-area: main;
    background-color: #0D9035;
}

main>div {
    margin-top: 45px;
    margin-left: 200px;
    width: 800px;
    background-color: white;
}

td {
    grid-area: main;
    padding-top: 10px;
    padding-left: 57px;
    padding-right: 100px;
    font-size: 20px;
}

.grafico {
    background-color: white;
    height: 360px;
}



