<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
    <link rel="stylesheet" href="/static/lista.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/img/PlatyPlusWhite.png">
        </div>
    </header>

    <div class="container">
            <h1>LISTA DE PRODUTOS</h1>
            <div class="box">
                <form class="search-container">
                    <input type="text" id="search-bar" placeholder="Pesquisar produto">
                    <i class="bi bi-search"></i>
                </form>

                <table>
                    <tr>
                        <th class="id">Nome</th>
                        <th class="id">Categoria</th>
                        <th class="id">Quantidade</th>
                        <th class="id">Código</th>
                        <th class="id">Preço</th>
                        <th class="id">Validade</th>
                    {% for produto in var_produtos %}
                        <tr>
                            <td>{{ produto.nome_produto }}</td>
                            <td>{{ produto.categoria_produto }}</td>
                            <td>{{ produto.quantidade_produto }}</td>
                            <td>{{ produto.codigo_produto }}</td>
                            <td>{{ produto.preco_produto }}</td>
                            <td>{{ produto.validade_produto }}</td>
                        </tr>
                    {% endfor %}
                    </tr>
                </table>
            </div>
    </div>
</body>

</html>